body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0A316C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px; 
}

header nav a:hover {
    color: #81ECEC;
}

main {
    flex: 1;
    padding: 30px;
}

#debut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#photoacc {
    max-width: 40%;
    height: auto;
    margin-top: 90px;   
    margin-right: 40px;
}

#gauche{
    width: 50%;
}

#gauche h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

#gauche p {
    font-size: 16px;
    line-height: 1.5;
}


#carousel {
    position: relative;
    width: 40%;
    margin-right: 40px;
}

#carousel img {
    width: 100%;
    display: none;
    border-radius: 10px;
}

#carousel img.active {
    display: block;
}

footer {
    background-color: #0A316C;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

footer a:hover {
    color: #81ECEC;
}
footer img {
    height: 45px;
    width: auto; 
    margin: 0 20px; 
}
footer {
    margin-top: auto;
}