body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column
}
header div {
    background-color: #0A316C; 
    display: flex;
    justify-content: space-between; 
    padding: 0 10px;
}

header {
    width: 100%; 
    margin: 0 auto; 
    font-family: Century Gothic;
    color: #FFFFFF;
}

nav {
    background-color: #81ECEC;
    display: flex;
    justify-content: center; 
    gap: 25px; 
    padding: 10px 20px;
    font-family: Century Gothic;
}

a {
    color: black;
    text-decoration: none; 
}


section {
    display: flex;         
    align-items: center;    
    justify-content: space-around; 
    padding: 40px;          
    max-width: 1000px;     
    margin: 0 auto;         
}

section h1 {
    font-family: 'Century Gothic';
    font-size: 24px;
    width: 50%;             
    margin: 0;
}


section img {
    width: 550px;           

}

footer {
    background-color: #0A316C; 
    font-family: 'Century Gothic';
    display: flex;
    width: 100%;
    justify-content: space-between; 
    padding: 15px 0px;
    margin-top: auto;  
    margin-left: auto;   
    margin-right: auto;  
    margin-bottom: 0;
    color: #FFFFFF; 
}

footer a {
    color: #FFFFFF; 
}


footer p {
    margin: 0; 
    font-size: 18px;
    padding: 0 10px;
}

footer a {
    margin: 0; 
    font-size: 18px;
    padding: 0 10px;
}
