body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0A316C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px; 
}

header nav a:hover {
    color: #81ECEC;
}

main {
    flex: 1;
    padding: 30px;
}

#debut {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 30px;
}

#photoacc {
    max-width: 40%;
    height: auto;
    margin-top: 90px;   
    margin-right: 40px;
}

footer {
    background-color: #0A316C;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

footer a:hover {
    color: #81ECEC;
}
footer img {
    height: 45px;
    width: auto; 
    margin: 0 20px; 
}
footer {
    margin-top: auto;
}


#section-rdv {
    background-color: #c9def5;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

#section-rdv h2 {
    color: #0A316C;
    font-size: 32px;
    margin-bottom: 20px;
}

.conteneur-rdv {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.zone-formulaire {
    flex: 1;
}

.zone-calendrier {
    flex: 1;
    background-color: #a8cbf0;
    border: 1px solid #0A316C;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#affichage-calendrier {
    background-color: #ffffff;
    height: 350px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

#form-rdv fieldset {
    background-color: #a8cbf0;
    border: 1px solid #0A316C;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"], input[type="date"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#btn-valider {
    background-color: #0A316C;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: large;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#btn-valider:hover {
    background-color: #81ECEC;
    color: #0A316C;
}